*.o
*.a
*.so
*.d
obj/
lib/
component/isp/
sample/audio/sample_audio
sample/mipi_tx/lt9611/lt9611
sample/mipi_tx/sample_dsi
sample/osdc/sample_osdc
sample/overlay/sample_overlay
sample/region/sample_region
sample/sample_ir_auto/sample_ir_auto
sample/sample_panel/lt9611/lt9611
sample/sample_panel/sample_panel
sample/sensor_test/sample_sensor_test
sample/vdec/sample_vdec
sample/vdecvo/sample_vdecvo
sample/venc/sample_vcodec
sample/venc/sample_venc
sample/vio/sample_vio
